%Container1 {
  .container1 {
    margin-top: 250px;
    width: 100%;

    >.row {
      max-width: 1000px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      >img {
        margin: auto;
      }

      > h5 {
        margin: 20px auto;
        color: #8790c1;
        
      }

      >.font1 {
        font-size: 30px;
        margin: 20px auto;
        color: #5e88fc;
      }

      >.font2{
        margin: 20px auto;
        color: #8790af;
      }

    }

  }
}