@import "./mixins";

%Container6{
    .container6{
        width: 100%;
       
        background: linear-gradient(45deg, rgba(74, 44, 191, 0.73) 20%, rgba(106, 198, 240, 0.81) 100%);
        display: flex;
        justify-content: start;
        padding: 40px 20px;
        color: aliceblue;

        >.col1{


            >.image{

                width: 200px;
                // margin-bottom: 100px;
                margin: auto 0px 80px 5px;

            }

            >img{
                margin-top: 60px;
                width: 250px;
            }
        }

            >.col2{
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                padding: 20px;
                max-width: 700px;

                >h5{
                    font-size: 18px;
                }

                >h3{
                    margin: 30px auto;
                    font-size: 35px;
                }

                >p{
                    font-size: 16px;
                    margin: 10px auto;
                    width: 250px;
                }

                >.btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 160px;
                    color: #fff;
                    border-radius: 40px;
                    font-size: 14px;
                    font-weight: 600;
                    background: linear-gradient(45deg, rgba(74, 44, 191, 0.73) 20%, rgba(106, 198, 240, 0.81) 100%); 
                     margin-top:20px;
                     cursor: pointer;
                    
                }

                >.btn:hover{
                  
                    transform: scale(1.05);
                }




            }

           

        }

    }
