%Navbar {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px;
    box-sizing: border-box;
    color: aliceblue;

    >.left-route {
      width: 80px;
    }

    >.center-route {
      >a {
        text-decoration: none;
        color: aliceblue;
        margin: 0px 10px;
      }
    }



  }




}