%PhoneImage{




.Phone-Image
{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    width: auto;
}

.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 150px;

.title
{
    // display: flex;
    // justify-content: center;
    //  align-items: center;
    font-size: 20px;
    font-weight: 80;
    color: black;
    margin-top: 200px;
    margin-right: 500px;
}

.sub-title
{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-size: 18px;
    font-weight: 800;
    color:black;
    // margin-top: 50px;
    // margin-right: 100px;
   
    
}

.Downloadlink

{
    // display: flex;
    // justify-content: center;
    
    // align-items: center;
    // height: 60px;
    // width: 200px;
    color: #768EDE;
    background-color: #fffffc;
    font-size: 14px;
    font-weight: 30px;
    border-radius: 50px;
    // margin-left: -100px;
    
    
}
}

}


