@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body .coverImage > .row .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 30px;
  box-sizing: border-box;
  color: aliceblue;
}
body .coverImage > .row .navbar > .left-route {
  width: 120px;
}
body .coverImage > .row .navbar > .center-route > a {
  text-decoration: none;
  color: #fdfefe;
  margin: 0px 10px;
  font-weight: 800px;
  font-size: 18px;
}

.right-route > p {
  width: 150px;
  height: 50px;
  color: #fffdfd;
  background-color: #a1cdea;
  border-radius: 40px;
  font-weight: 700px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-route > p:hover {
  color: 337ab7;
  background-color: aliceblue;
}

body .coverImage {
  height: 100vh;
  background-image: url("Image/appy.jpg");
}
body .coverImage > .row {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(74, 44, 191, 0.73) 20%, rgba(106, 198, 240, 0.81) 100%);
}
body .coverImage > .row > .row {
  padding: 40px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: aliceblue;
}
body .coverImage > .row > .row > .col1 > .image {
  width: 400px;
}
body .coverImage > .row > .row .col2 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 700px;
}
body .coverImage > .row > .row .col2 > .font1 {
  font-size: 60px;
}
body .coverImage > .row > .row .col2 > .font2 {
  margin: 10px 0px;
  font-size: 16px;
}
body .coverImage > .row > .row .col2 > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  background-color: #FFFFFF;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #769ce8;
  margin: 20px 0px;
}
body .coverImage > .row > .row .col2 > .btn:hover {
  color: #FFFFFF;
  background-color: #769ce8;
}

body .container1 {
  margin-top: 250px;
  width: 100%;
  height: 550px;
}
body .container1 > .row {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .container1 > .row > img {
  margin: auto;
}
body .container1 > .row > h5 {
  margin: 20px auto;
  color: #8790c1;
}
body .container1 > .row > .font1 {
  font-size: 30px;
  margin: 20px auto;
  color: #5e88fc;
}
body .container1 > .row > .font2 {
  margin: 20px auto;
  color: #8790af;
}

body .Container2 {
  width: 100%;
  height: 850px;
}
body .Container2 > .column {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  background-color: rgb(245, 246, 255);
  height: 600px;
}
body .Container2 > .column > .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto 80px;
  gap: 40px;
}
body .Container2 > .column > .col1 > .font1 {
  font-size: 16px;
  color: #8792b9;
}
body .Container2 > .column > .col1 > .font2 {
  font-size: 21px;
  color: #434345;
}
body .Container2 > .column > .col1 > .font3 {
  font-size: 16px;
  color: #9590b7;
}
body .Container2 > .column > .col1 > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  background: linear-gradient(45deg, rgba(74, 44, 191, 0.73) 20%, rgba(106, 198, 240, 0.81) 100%);
  color: #ffffff;
  font-size: 14px;
  border-radius: 40px;
}
body .Container2 > .column > .col2 {
  width: 100%;
  background-image: url(image/Cont2bg_img.jpg);
  position: relative;
}
body .Container2 > .column > .col2 > .img {
  position: absolute;
}

body .Container3 {
  width: 100%;
}
body .Container3 > .column {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  background-color: rgb(245, 246, 255);
  height: 600px;
}
body .Container3 > .column > .col1 {
  width: 100%;
  background-image: url(Image/Cont3bg_img.jpg);
  position: relative;
}
body .Container3 > .column > .col1 > .img {
  position: absolute;
}
body .Container3 > .column > .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto 80px;
  gap: 40px;
}
body .Container3 > .column > .col2 > .font1 {
  font-size: 16px;
  color: #8792b9;
}
body .Container3 > .column > .col2 > .font2 {
  font-size: 21px;
  color: #434345;
}
body .Container3 > .column > .col2 > .font3 {
  font-size: 16px;
  color: #9590b7;
}
body .Container3 > .column > .col2 > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  background: linear-gradient(45deg, rgba(74, 44, 191, 0.73) 20%, rgba(106, 198, 240, 0.81) 100%);
  color: #ffffff;
  font-size: 14px;
  border-radius: 40px;
}

body .container4 {
  width: 100%;
  height: 100vh;
  background-color: rgb(94, 136, 252);
  color: #ffffff;
  box-sizing: border-box;
}
body .container4 > .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container4 > .row > h5 {
  padding-top: 120px;
}
body .container4 > .row h3 {
  margin: 20px auto;
  font-size: 30px;
}
body .container4 > .column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  gap: 10px;
}
body .container4 > .column > .items {
  display: flex;
  gap: 20px;
}
body .container4 > .column > .items .col {
  display: flex;
  flex-direction: column;
}
body .container4 > .column > .items .col span {
  margin: 5px;
}
body .container4 > .column > .item3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url("https://preview.colorlib.com/theme/appy/images/xfeature-image.png.pagespeed.ic.Bct5b76uy1.webp");
}
body .container4 > .column > .item1 {
  width: 300px;
  margin-left: 100px;
}
body .container4 > .column > .item1 > span {
  color: blue;
}
body .container4 > .column > .item1 > span > i {
  background-color: rgb(221, 216, 216);
  height: 50px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
* .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}/*# sourceMappingURL=style.css.map */